res.txt
main_avit.py
mappings.py
run-tool-for-analytical2/core_num.txt
run-tool-for-analytical2/magnification.txt
run-tool-for-analytical2/seq_len.txt
run-tool-for-analytical2/results-corenum-4-seqlen-1024.txt
run-tool-for-analytical2/results-corenum-4.txt
run-tool-for-analytical2/results-corenum-16.txt
run-tool-for-analytical2/results-corenum-100.txt
run-tool-for-analytical2/results-corenum-400.txt
run-tool-for-analytical2/results-mag-4-corenum-4.txt
run-tool-for-analytical2/results-mag-4-corenum-16.txt
run-tool-for-analytical2/results-mag-4-corenum-200.txt
run-tool-for-analytical2/results-mag-4-seqlen-1024.txt
run-tool-for-analytical2/results-seqlen-32.txt
run-tool-for-analytical2/results-seqlen-1024.txt
run-tool-for-analytical2/results-seqlen-4096.txt
